/* - Grayish blue: #8486a9;
- Soft red: #fb6087;

### Neutral

- White: #ffffff;
- Dark desaturated blue: #343650;
- Very dark blue:#1e1f29;
- Very dark (mostly black) blue: #191a24; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: #191a24;
  /* background-color: #1e1f29; */
  background-image: url(../images/bg-stars.svg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 2rem;
}
.countdown__container {
  padding-top: 10rem;
  background-image: url(../images/bg-stars.svg);
  display: flex;
  flex-direction: column;

  gap: 6rem;
}

.input__box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.secondary__heading {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
}

.box {
  /* background-color: #fb6087; */
  display: flex;
  justify-content: center;

  /* gap: 2rem; */
}

.input {
  width: 80%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.month__box,
.day__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.year__error,
.month__error,
.day__error {
  display: none;
  font-size: 1.1rem;
  color: #ff0000;
}

.error {
  display: none;
  text-align: center;
  color: #ff0000;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.btn {
  align-self: center;
  display: flex;
  align-content: center;
  gap: 2rem;
}

.button,
.reset {
  border: 0;
  font-size: 1.2rem;
  padding: 1rem;
  align-self: center;
  background-color: #343650;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: #3fa73f;
}

.reset:hover {
  background-color: #c52727;
}

.primary__heading {
  font-size: 2rem;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.countdown__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.countdown__number {
  padding: 2rem;
  font-size: 6rem;
  font-weight: 700;
  transition: all 0.3s;

  color: #fb6087;
  background-color: #343650;
}

.flip {
  animation: flip 0.5s ease-out both;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.countdown__text {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}
.social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100vw;
  height: 30vh;
  background-image: url(../images/pattern-hills.svg);
  background-size: cover;
}

.social__link {
  width: 2.4rem;
  height: 2.4rem;
  fill: #8385a9;
  transition: all 0.3s;
  cursor: pointer;
}
.social__link:hover {
  fill: #fb6087;
}

.attribution {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/* ****************
MEDIA QUERIES
*******************/

@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }

  .input__field {
    display: flex;
    justify-content: center;
  }
  .box {
    width: 60%;
  }
}
@media only screen and (max-width: 37.5em) {
  .countdown__number {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 26.875em) {
  .countdown__container {
    padding-top: 4rem;
  }

  .box {
    width: 80%;
  }
}

@media only screen and (max-width: 23.125em) {
  .countdown__number {
    font-size: 4rem;
    padding: 1.4rem;
  }

  .primary__heading {
    font-size: 1.5rem;
  }

  .secondary__heading {
    font-size: 1rem;
  }
}
